.plyr__component {
  width: 1500px;
  max-width: 90vw;
  margin: 50px auto 0;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
}

.plyr-playlist-wrapper ul::-webkit-scrollbar {
  width: 6px;
}

.plyr-playlist-wrapper ul::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.plyr-playlist-wrapper ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: var(--plyr-color-main);
}
.plyr-playlist-wrapper {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.25em;
}
.plyr-playlist-wrapper .plyr-playlist {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  margin-top: 0;
  padding: 6px 4px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 8px 0px inset;
}

.plyr-playlist-wrapper ul {
  padding: 0;
  margin: 0;
  max-height: 20em;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.plyr-playlist-wrapper ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.plyr-playlist-wrapper .plyr-playlist li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 0px;
  margin-bottom: 3px;
  font-size: 90%;
}

.plyr-playlist-wrapper .plyr-playlist li.pls-playing,
.plyr-playlist-wrapper .plyr-playlist li:hover {
  color: var(--plyr-color-main);
  background-color: rgba(255, 255, 255, 0.09);
}
.plyr-playlist-wrapper .plyr-playlist li.pls-playing a {
  color: var(--plyr-color-main);
}

.plyr-playlist-wrapper .plyr-playlist li a {
  text-decoration: none;
  font-family: arial;
  color: #c9c9c9;
  display: block;
  padding: 10px 0;
  outline: none;
  padding: 0.5em 0.25em 0.5em 0.75em;
  font-size: 90%;
  vertical-align: middle;
  padding-bottom: 10px;
}

.plyr-playlist-wrapper .plyr-playlist li:last-child a {
  border-bottom: 0;
}

.plyr-playlist li a:hover,
.plyr-playlist li a:focus,
.plyr-playlist li a:active {
  color: var(--plyr-color-main);
}

.plyr-miniposter {
  width: auto;
  height: 22px;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  margin-right: 10px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.plyr-type-playlist plyr-playlist a.plyr-playlist-item-remove {
  float: right;
  margin-right: 15px;
  background-color: transparent;
}

.plyr-prev {
  margin-right: 0 !important;
}
.plyr-next {
  margin-left: 0 !important;
}
.plyr__controls [data-plyr="play"] {
  margin-left: 0 !important;
}

.info__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  max-width: 90vw;
  margin: 50px auto;
}

.info__left {
  margin-right: 20px;
  max-width: 70%;
}

.info__right {
  margin-left: 20px;
  max-width: 30%;
}

.info__poster {
  border-radius: 10px;
  width: 350px;
  max-width: 100%;
}

.info__backdrop {
  border-radius: 10px;
  width: 0;
  display: none;
}

.info__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.info__overview {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.buttons__container {
  display: flex;
}

.button {
  margin-right: 15px;
}

@media screen and (max-width: 290px) {
  .vote__container {
    margin: 0;
    display: none;
  }
  .info__left {
    display: none;
    width: 0;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .info__container {
    flex-direction: column;
  }
  .info__left {
    width: 90vw;
    max-width: 90vw;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .info__poster {
    display: none;
    width: 0;
  }
  .info__backdrop {
    display: inherit;
    width: 90vw;
    max-width: 90vw;
    margin-bottom: 15px;
  }
  .info__right {
    max-width: 90vw;
    margin-left: 0;
  }
}

.vote__container {
  margin-top: 20px;
}

.info__release {
  margin-top: 5px;
  margin-left: 4px;
}

.info__genres {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
