.footer__text {
  margin-left: 10px;
}

.footer__github {
  display: flex;
  align-items: center;
  margin: 10px;
}

@media screen and (max-width: 360px) {
  .footer__github {
    display: none;
    margin: 0;
  }
  .footer__text {
    margin: 0;
  }
}

.gallery__select {
  margin: 20px;
}
