:root {
  --plyr-color-main: #4197fe;
}

.plyr__component {
  max-width: 90vw;
  margin: 5vh auto;
}

.info__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: 0 auto;
}

.info__left {
  margin-right: 20px;
  max-width: 70%;
}

.info__right {
  margin-left: 20px;
  max-width: 30%;
}

.info__poster {
  border-radius: 10px;
  max-width: 100%;
}

.info__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.info__overview {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-top: 10px;
}
