.footer__text {
  margin-left: 10px;
}

.footer__github {
  display: flex;
  align-items: center;
  margin: 5px;
}

@media screen and (max-width: 320px) {
  #footer__container {
    display: none;
  }
}

@media screen and (max-width: 385px) {
  .footer__github {
    display: none;
  }
  .footer__text {
    margin: 0;
  }
}

@media screen and (max-width: 505px) {
  .gallery__select {
    display: none;
  }
}
