body {
  margin: 0;
  background-color: #111;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
}

.no_decoration_link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.Loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}